$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-mobile: "\e958";
$icon-mail2: "\ea84";
$icon-Facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-Linkedin2: "\eaca";

